{% extends "layout.njk" %}

{% block header %}
    <header class="menu_admin">
        <div class="links_admin">
            <div class="menu_items">
                <div class="logo">
                    <a id="link_logo" href="/admin/receitas"><img id="logo" src="/assets/logo.png" alt="logo"></a>
                </div>
                <a href="/admin/receitas">RECEITAS</a>
                <a href="/admin/chefs">CHEFS</a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="all">

        <form id="delete_form" method="POST" action="/admin/chefs?_method=DELETE">
            <input type="hidden" name="id" value="{{chef.id}}">
        </form>

        <form method="POST" action="/admin/chefs?_method=PUT" enctype="multpart/form-data">
            <div class="recipe_options">
                <h1>Editando chef</h1>
                <div class="options_buttons">
                    <input type="hidden" name="id" value="{{chef.id}}">
                    <button id="delete_button" class="crud_button" type="submit" form="delete_form" onclick="handleDeleteConfirmation()">Deletar</button>
                    <button class="crud_button" type="submit">Salvar chef</button>
                </div>
            </div>
            {% include 'admin/chefs/fields.njk' %}
        </form>
    </div>
    <script src="/scripts.js"></script>
{% endblock content %}