{% extends "layout.njk" %}

{% block head %}
		<title>Foodfy - Chefs</title>
{% endblock %}

{% block header %}
		{% include "parts/admin-navbar.njk" %}
{% endblock %}

{% block content %}
		<div class="recipe_options">
				<h1>Gerenciar chefs</h1>
				<a class="crud_button" href="/admin/chefs/criar">Cadastrar</a>
		</div>

		<section class="chef-cards">
				{% for chef in chefs %}
						<div class="chef-card" id="{{chef.id}}">
								<div class="chef-box-img">
										<img src="{{chef.image}}" alt="{{chef.name}}">
								</div>
								<div class="admin-card-info">
										<h3>{{chef.name}}</h3>
										<a href="/admin/chefs/{{chef.id}}">Vizualizar</a>
								</div>
						</div>
				{% endfor %}
		</section>
{% endblock %}