{% extends "layout.njk" %}

{% block header %}
		<header class="menu">
				<div class="links">
						{% block navbar %}
								{% include "parts/foodfy-navbar.njk"%}
						{% endblock %}
						{% block filter %}{% endblock %}
				</div>
		</header>
{% endblock %}

{% block head %}
		<title>Foodfy - Chefs</title>
{% endblock %}

{% block content %}
		<section class="chef-cards">
				{% for chef in chefs %}
						<div class="chef-card" id="{{chef.id}}">
								<div class="chef-box-img">
										<img src="{{chef.image}}" alt="{{chef.name}}">
								</div>
								<div class="admin-card-info">
										<h3>{{chef.name}}</h3>
										<a href="/chefs/{{chef.id}}">Vizualizar</a>
								</div>
						</div>
				{% endfor %}
		</section>
{% endblock %}

{% block scripts %}
		<script src="/chefScripts.js"></script>
{% endblock scripts %}