{% extends "layout.njk" %}

{% block header %}
		<header class="header header--white">
				<div class="header__navbar">
						{% block navbar %}
								{% include "parts/navbar.njk"%}
						{% endblock %}
						{% block filter %}
								{% include "parts/filter.njk" %}
						{% endblock %}
				</div>
		</header>
{% endblock %}

{% block content %}
		<div class="chef">

				{% include "parts/chef-details.njk" %}

				<div class="chef__sectionBox">
						<h1 class="chef__sectionTitle chef__sectionTitle--font chef__sectionTitle--color">Receitas</h1>
				</div>

				<div class="cardSection">
						{% for recipe in chefRecipes %}
								{% include "parts/recipes-section.njk" %}
						{% endfor %}
				</div>

		</div>
{% endblock %}

{% block scripts %}
		<script src="/scripts/chefs.js"></script>
		<script src="/scripts/recipes.js"></script>
{% endblock scripts %}