{% extends "layout.njk" %}

{% block head %}
		<title>Foodfy - Chefs</title>
{% endblock %}

{% block header %}
		<header class="header header--white">
				<div class="header__navbar">
						{% block navbar %}
								{% include "parts/navbar.njk"%}
						{% endblock %}
				</div>
		</header>
{% endblock %}

{% block content %}
		<section class="chefSection">
				{% for chef in chefs %}
						<div class="chefSection__item" id="{{chef.id}}">
								<div class="chefSection__imageBox">
										<img class="chefSection__image chefSection__image--shadow" src="{{chef.image}}" alt="{{chef.name}}">
								</div>
								<div class="chefSection__info">
										<h3 class="chefSection__chefName chefSection__chefName--font chefSection__chefName--color">{{chef.name}}</h3>
										<p class="chefSection__totalRecipes chefSection__totalRecipes--font chefSection__totalRecipes--color">{{chef.total_recipes}}
												receitas</p>
								</div>
						</div>
				{% endfor %}
		</section>
{% endblock %}

{% block scripts %}
		<script src="/scripts/chefs.js"></script>
{% endblock scripts %}