{% extends "layout.njk" %}

{% block header %}
		<header class="header">
				<div class="header__navbar">
						{% block navbar %}
								{% include "parts/navbar.njk"%}
						{% endblock %}
						{% block filter %}
								{% include "parts/filter.njk" %}
						{% endblock %}
				</div>
		</header>
{% endblock %}

{% block content %}

		<section class="hero hero--color">
				<div class="hero__description">
						<h1 class="hero__title hero__title--font">As melhores receitas</h1>
						<p class="hero__text hero__text--color hero__text--font">Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
				</div>
				<div class="hero__imageBox">
						<img class="hero__image" src="./assets/chef.png" alt="Chef">
				</div>
		</section>

		<div class="homeCardsSectionBox">
				<h2 class="homeCardsSectionBox">Mais acessadas</h2>
		</div>

		<section class="cardSection">
				{% for recipe in recipes %}
						{% if loop.index0 < 6 %}
								{% include "parts/recipes-section.njk" %}
						{% endif %}
				{% endfor %}
		</section>

{% endblock %}

{% block scripts %}
		<script src="/scripts/recipes.js"></script>
{% endblock scripts %}