{% extends "layout.njk" %}

{% block header %}
		<header class="menu">
				<div class="links">
						<div class="menu_items">
								<div class="logo">
										<a id="link_logo" href="/"><img id="logo" src="/assets/logo2.png" alt="logo"></a>
								</div>
								<a href="/sobre">Sobre</a>
								<a href="/receitas">Receitas</a>
								<a href="/chefs">Chefs</a>
						</div>
						<form action="/" method="GET">
								<input type="text" name="filter" placeholder="Buscar uma receita">
								<button class="crud_button" type="submit">Buscar</button>
						</form>
				</div>
		</header>
{% endblock %}

{% block content %}
		<div class="welcome_banner">
				<div class="description">
						<h1>As melhores receitas</h1>
						<p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
				</div>
				<div class="image">
						<img src="./assets/chef.png" alt="Chef">
				</div>
		</div>

		<div id="wrapper">
				<h2>Mais acessadas</h2>
		</div>

		<section class="cards">

				{% for recipe in recipes %}
						{% if loop.index0 < 6 %}

								<div class="card" id="{{recipe.id}}">
										<div class="card_image">
												<img src="{{recipe.image}}" alt="{{recipe.title}}">
										</div>
										<div class="card_info">
												<h3>{{recipe.title}}</h3>
												<p id="author_name">
														Por
														{{recipe.chef_name}}</p>
										</div>
								</div>
						{% endif %}
				{% endfor %}

		</section>
{% endblock %}