{% extends "layout.njk" %}

{% block header %}
		<header class="header header--white">
				<div class="header__navbar">
						{% block navbar %}
								{% include "parts/navbar.njk"%}
						{% endblock %}
						{% block filter %}
								{% include "parts/filter.njk" %}
						{% endblock %}
				</div>
		</header>
{% endblock %}

{% block content %}
		<div class="recipe">
				{% include "parts/recipe-details.njk"%}
		</div>
{% endblock %}

{% block footer %}
		{% include "parts/footer.njk" %}
{% endblock %}

{% block scripts %}
		<script src="/scripts/recipes.js"></script>
{% endblock scripts %}