{% extends "layout.njk" %}

{% block header %}
		<header class="header header--white">
				<div class="header__navbar">
						{% block navbar %}
								{% include "parts/foodfy-navbar.njk"%}
						{% endblock %}
						{% block filter %}
								{% include "parts/filter.njk" %}
						{% endblock %}
				</div>
		</header>
{% endblock %}

{% block head %}
		<title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}
		<section class="cardSection">
				{% for recipe in recipes %}
						{% include "parts/foodfy-recipes.njk" %}
				{% endfor %}
		</section>
{% endblock %}

{% block scripts %}{% endblock scripts %}