{% extends "layout.njk" %}

{% block header %}
		<header class="menu">
				<div class="links">
						<div class="menu_items">
								<div class="logo">
										<a id="link_logo" href="/"><img id="logo" src="/assets/logo2.png" alt="logo"></a>
								</div>
								<a href="/sobre">Sobre</a>
								<a href="/receitas">Receitas</a>
								<a href="/chefs">Chefs</a>
						</div>
						<form action="/" method="GET">
								<input type="text" name="filter" placeholder="Buscar uma receita">
								<button class="crud_button" type="submit">Buscar</button>
						</form>
				</div>
		</header>
{% endblock %}

{% block head %}
		<title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}
		<section class="cards">
				{% for recipe in recipes %}
						<div class="card" id="{{recipe.id}}">
								<div class="card_image">
										<img src="{{recipe.image}}" alt="{{recipe.title}}">
								</div>
								<div class="card_info">
										<h3>{{recipe.title}}</h3>
										<p id="author_name">Por
												{{recipe.chef_name}}</p>
								</div>
						</div>
				{% endfor %}
		</section>
{% endblock %}

{% block scripts %}
		<script src="/recipes_funcs.js"></script>
{% endblock scripts %}