.admin__sectionBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0 30px;
}
.admin__sectionTitle--color {
  color: #111111;
}
.admin__sectionTitle--font {
  font-size: 24px;
}
.admin__sectionButton {
  padding: 9px 20px;
  border-radius: 4px;
  transition: 300ms;
  cursor: pointer;
}
.admin__sectionButton--color {
  background-color: #6558c3;
  color: #ffffff;
}
.admin__sectionButton--font {
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
}
.admin__sectionButton:hover {
  background-color: #4a418c;
}

.cardSection-admin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.cardSection-admin__item {
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 20px;
}
.cardSection-admin__image {
  height: 80px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}
.cardSection-admin__recipeTitle--font {
  font-weight: 400;
  font-size: 18px;
}
.cardSection-admin__recipeTitle--color {
  color: #111111;
}
.cardSection-admin__chefName {
  margin: 5px 0 10px;
}
.cardSection-admin__chefName--font {
  font-weight: 400;
  font-size: 14px;
}
.cardSection-admin__chefName--color {
  color: #777777;
}
.cardSection-admin__link {
  transition: 200ms;
  border-radius: 4px;
}
.cardSection-admin__link--font {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}
.cardSection-admin__link--color {
  color: #6558c3;
}
.cardSection-admin__link:hover {
  color: #4a418c;
}

.recipeCreation__sectionTitle {
  margin: 30px 0 10px 0;
}
.recipeCreation__sectionTitle--font {
  font-weight: 600;
  font-size: 16px;
}
.recipeCreation__sectionTitle--color {
  color: #111111;
}
.recipeCreation__wrapper {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 10px;
}
.recipeCreation__addImageBoxDefault {
  position: relative;
  width: 150px;
  height: 150px;
}
.recipeCreation__addImageBox {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  width: 100%;
}
.recipeCreation__addImageBox img {
  border-radius: 3.5px;
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.recipeCreation__addImageInput {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.recipeCreation__addIcon {
  width: 100%;
  height: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recipeCreation__addIcon i {
  color: #999999;
  font-size: 300%;
}
.recipeCreation__imageBoxPreview {
  position: relative;
}
.recipeCreation__imageBoxPreview i {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  color: red;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 300%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 200ms;
}
.recipeCreation__imageBoxPreview i:hover {
  opacity: 1;
}
.recipeCreation__imagePreview {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
}
.recipeCreation__input, .recipeCreation__textarea, .recipeCreation__select {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.recipeCreation__input--font, .recipeCreation__textarea--font, .recipeCreation__select--font {
  font-size: 16px;
}
.recipeCreation__input--color, .recipeCreation__textarea--color, .recipeCreation__select--color {
  color: #111111;
}
.recipeCreation__select {
  padding: 12px 20px;
}
.recipeCreation__addingButton {
  margin-top: 15px;
  cursor: pointer;
}
.recipeCreation__addingButton--font {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
.recipeCreation__addingButton--color {
  color: #6558c3;
  background-color: #ffffff;
}
.recipeCreation__addingButton:hover {
  color: #4a418c;
}

/*# sourceMappingURL=admin-recipes.css.map */
