@import '../variables.scss';

.user {
  &__fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 35px;
    margin-top: 50px;
  }
  &__label {
    &--font {
      font-weight: bold;
      font-size: 16px;
    }
    &--color {
      color: $black;
    }
  }
  &__inputBox {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 10px;
  }
  &__input {
    padding: 15px 20px;
    border: 1px solid $lightGray;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    &--font {
      font-size: 16px;
    }
    &--color {
      color: $black;
    }
  }
  &__checkbox {
    width: 15px;
    height: 15px;
    margin-right: 8px;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 200px;
    grid-row-gap: 32px;
    margin-top: 50px;
  }
  &__listName {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 4px;
  }
  &__listEmail {
    font-size: 14px;
    font-weight: normal;
    color: #777777;
    margin-bottom: 16px;
  }
  &__listButton {
    &:first-child {
      color: #6558c3;
      font-weight: bold;
      text-decoration: none;
      font-size: 14px;
      margin-right: 16px;
    }
    &:last-child {
      color: #f55a5a;
      font-weight: bold;
      text-decoration: none;
      font-size: 14px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
