{% extends "layout.njk" %}

{% block content %}
    <div class="recipe_details">
        <div class="recipe_head">
            <img src="{{recipe.image}}" alt="{{recipe.title}}">
            <h1>{{recipe.title}}</h1>
            <p>{{recipe.author}}</p>
        </div>

        <div class="recipe_ingredients">
            <div class="recipe_titles">
                <h2>Ingredientes</h2>
                <a class="button" onclick="handleRecipeDetail('.ingredients-list', this)">MOSTRAR</a>
            </div>

            <div class="ingredients-list hide">
                <ul>
                    {% for ingredient in recipe.ingredients %}
                        <li>{{ingredient}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="recipe_preparation">
            <div class="recipe_titles">
                <h2>Modo de preparo</h2>
                <a class="button" onclick="handleRecipeDetail('.preparation-list', this)">MOSTRAR</a>
            </div>

            <div class="preparation-list hide">
                <ul>
                    {% for preps in recipe.preparation %}
                        <li>{{preps}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="recipe_additional">
            <div class="recipe_titles">
                <h2>Informações adicionais</h2>
                <a class="button" onclick="handleRecipeDetail('.information-list', this)">MOSTRAR</a>
            </div>
            <div class="information-list hide">
            <p>{{recipe.information}}</p>
            </div>
        </div>
    </div>

    <script src="/scripts.js"></script>
{% endblock %}