{% extends "layout.njk" %}

{% block content %}
    <div class="recipe_details">

        <div class="recipe_head">
            <img src="https://rocketseat-cdn.s3-sa-east-1.amazonaws.com/launchbase/receitas/burger.png" alt="Triplo Bacon Burger">
            <h1>Triplo bacon burger</h1>
            <p>Por Jorge Relato</p>
        </div>

        <div class="recipe_ingredients">

            <div class="recipe_titles">
                <h2>Ingredientes</h2>
                <a href="">MOSTRAR</a>
            </div>

            <div class="list">
                <ul>
                    <li>3 kg de carne moída (escolha uma carne magra e macia)</li>
                    <li>300 g de bacon moído</li>
                    <li>1 ovo</li>
                    <li>3 colheres (sopa) de farinha de trigo</li>
                </ul>
            </div>

        </div>

        <div class="recipe_preparation">

            <div class="recipe_titles">
                <h2>Modo de preparo</h2>
                <a href="">MOSTRAR</a>
            </div>

            <div class="list">
                <ul>
                    <li>Misture todos os ingredientes muito bem e amasse para que fique tudo muito bem misturado.</li>
                    <li>Faça porções de 90 g a 100 g.</li>
                    <li>Forre um plástico molhado em uma bancada e modele os hambúrgueres utilizando um aro como base.</li>
                    <li>Faça um de cada vez e retire o aro logo em seguida.</li>
                </ul>
            </div>
        </div>

        <div class="recipe_additional">

            <div class="recipe_titles">
                <h2>Informações adicionais</h2>
                <a href="">MOSTRAR</a>
            </div>

            <p>Preaqueça a chapa, frigideira ou grelha por 10 minutos antes de levar os hambúrgueres. Adicione um pouquinho de óleo ou manteiga e não amasse os hambúrgueres! \n\n Você sabia que a receita que precede o hambúrguer surgiu no século XIII, na Europa? A ideia de moer a carne chegou em Hamburgo no século XVII, onde um açogueiro resolveu também temperá-la. Assim, a receita foi disseminada nos Estados Unidos por alemães da região. Lá surgiu a ideia de colocar o hambúrguer no meio do pão e adicionar outros ingredientes, como queijom tomates e alface.</p>
        </div>

    </div>
{% endblock %}