@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";
/* Configurações de reset; */

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
}

/* Configurações do template (default); */

.all {
    min-height: 100%;
    position: relative;
}

.main {
    max-width: 960px;
    margin: 0 auto;
    padding: 32px 16px 80px;
}

/* Configurações do menu */

header {
    background-color: black;
    padding: 16px 0;
}

.links {
    width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .menu_items {
    display: flex;
    align-items: center;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 19px;
    margin: 0 15px;
    padding: 4px;
    border-radius: 6px;
    transition: 300ms;
}

.links a:hover, .links a:last-child:hover {
    background-color: white;
    color: black;
}

.links a:first-child:hover {
    background-color: black;
}

.links a:last-child {
    margin-right: 0;
}

#link_logo {
    margin: 0;
}

#logo {
    margin-right: 24px;
}

/* Configurações das boas-vindas; */

.welcome_banner {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    width: 100%;
    height: 366px;
    background-color: #FBDFDB;
}

.welcome_banner .description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description h1 {
    font-weight: 700;
    font-size: 32px;
    color: #111111;
    margin: 0 0 16px 48px;
}

.description p {
    font-size: 18px;
    color: #000000;
    width: 316px;
    margin: 0 0 16px 48px;
    line-height: 28px;
    opacity: 0.7;
}

.welcome_banner .image {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

/* Configurações da apresentação de receitas; */

#wrapper {
    margin: 45px 0 15px 0;
}

#wrapper h2 {
    font-size: 24px;
    font-weight: 700;
    color: #111111;
}

/* Configurações dos cards de receitas */

.cards {
    margin-top: 20px;
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card_image img {
    /* Gambiarra para padronizar tamanho da imagem; */
    height: 10vh;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    object-fit: cover;
}

.card_info h3 {
    font-weight: 400;
    font-size: 18px;
    color: #111111;
    margin-bottom: 8px;
}

.card_info p {
    font-weight: 400;
    font-size: 14px;
    color: #777777;
}

/* Confifurações do footer */

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: #EEEEEE;
}

.footer p {
    font-size: 14px;
    color: #999999;
}

/* Configurações da página Sobre */

.foodfy_about h1 {
    font-size: 24px;
    color: #111111;
    font-weight: 700;
}

.foodfy_about h2 {
    font-weight: 700;
    font-size: 20px;
    color: #111111;
}

.foodfy_about .text {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

.foodfy_about:last-child {
    margin: 0;
}

.text p {
    margin: 18px 0;
}

/* Configurações da página de detalhes das receitas; */

.recipe_details {
    margin-bottom: 24px;
}

.recipe_head {
    text-align: center;
    margin-bottom: 48px;
}

.recipe_head img {
    object-fit: cover;
    width: 100%;
    height: 280px;
    border-radius: 15px;
    margin-bottom: 36px;
}

.recipe_head h1 {
    font-size: 36px;
    color: #111111;
}

.recipe_head p {
    font-size: 20px;
    color: #777777;
    line-height: 30px;
}

.recipe_titles {
    display: flex;
    align-items: baseline;
}

.recipe_titles h2 {
    font-size: 24px;
    color: #111111;
    margin-bottom: 16px;
}

.recipe_ingredients, .recipe_preparation, .recipe_additional {
    margin-bottom: 24px;
}

.ingredients_list, .preparation_list {
    margin-left: 20px;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

.information_list p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

.recipe_titles .toggle_button {
    font-size: 12px;
    color: #999999;
    text-decoration: none;
    font-weight: 700;
    padding-left: 12px;
    cursor: pointer;
    transition: 300ms;
}

.recipe_titles .toggle_button:hover {
    color: black;
}

.hide {
    display: none;
}

/* Configuração da página visualização de receitas da área administrativa; */

.admin-cards {
    margin-top: 20px;
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.admin-cards .admin-card {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 16px;
}

.admin-card-img img {
    /* Gambiarra para padronizar tamanho da imagem; */
    height: 10vh;
    width: 100%;
    min-height: 80px;
    border-radius: 8px;
    object-fit: cover;
}

.admin-card-info h3 {
    font-weight: 400;
    font-size: 18px;
    color: #111111;
    margin-bottom: 4px;
}

.admin-card-info p {
    font-weight: 400;
    font-size: 14px;
    color: #777777;
    margin-bottom: 8px;
}

.admin-card-info a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color: #6558C3;
    transition: 300ms;
    padding: 4px;
    border-radius: 4px;
}

.admin-card-info a:hover {
    background-color: #6558C3;
    color: white;
}

/* Configuração padrão das opções de gerenciamento de receitas da área administrativa: criar, salvar */

.recipe_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.recipe_options h1 {
    font-size: 24px;
    color: #111111;
}

.recipe_options .options_buttons {
    display: flex;
}

.crud_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 20px;
    background: #6558C3;
    border-radius: 8px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid white;
    transition: 300ms;
}

.crud_button:hover {
    background-color: white;
    border: 2px solid #6558C3;
    color: #6558C3;
}

form #delete_button {
    background: #DC4747;
}

form #delete_button:hover {
    background-color: white;
    border: 2px solid #DC4747;
    color: #DC4747;
}

#delete_form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Configurações do formulário de criação de novas receitas */

form .recipe_options {
    padding-bottom: 8px;
}

form .item {
    margin-top: 24px;
}

form .item h3 {
    font-weight: 600;
    font-size: 16px;
}

form .item input, form textarea, select {
    width: 100%;
    padding: 12px 4px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin: 16px 0 0;
    color: #555555;
    font-size: 16px;
    box-sizing: border-box;
}

form #adding_button {
    margin: 8px 0;
    color: #6558C3;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    background-color: white;
    outline: none;
    cursor: pointer;
}

form #adding_button:hover {
    text-decoration: underline;
}

/* Listagem de Chefs */

.chef-box-img span {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    background-position: center;
    background-size: cover;
    display: inline-block;
}

.chef-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
}

.chef-card {
    display: flex;
    align-items: center;
}

.chef-box-img {
    padding-right: 16px;
}

.chef-card .admin-card-info a {
    padding: 0;
}

.chef-card .admin-card-info a:hover {
    padding: 4px;
}

/* Página de exibição de chef */

.recipe_details .chef-box-img {
    text-align: center;
}

.recipe_details .chef-box-img span {
    padding-right: 0;
    width: 200px;
    height: 200px;
    margin: 50px 0 30px;
}

.recipe_details .chef-box-img p {
    font-size: 20px;
    color: #777777;
    text-align: center;
    margin-top: 4px;
}