{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy - Lista de usuários</title>
{% endblock %}

{% block header %}
  {% include "parts/navbar-admin.njk" %}
{% endblock %}

{% block content %}
  <div class="admin__sectionBox">
    <h1 class="admin__sectionTitle admin__sectionTitle--color admin__sectionTitle--font">Usuários</h1>
    <a href="/admin/users/create" class="admin__sectionButton admin__sectionButton--color admin__sectionButton--font admin__sectionButton--size">Novo</a>
  </div>

  <section class="user__list">
    <div class="user__listItem">
      <h4 class="user__listName">Diego Fernandes</h4>
      <p class="user__listEmail">diego@rocketseat.com.br</p>
      <div class="user__listButtonBox">
        <a class="user__listButton" href="#">Editar</a>
        <a class="user__listButton" href="#">Remover</a>
      </div>
    </div>

    <div class="user__listItem">
      <h4 class="user__listName">Diego Fernandes</h4>
      <p class="user__listEmail">diego@rocketseat.com.br</p>
      <div class="user__listButtonBox">
        <a class="user__listButton" href="#">Editar</a>
        <a class="user__listButton" href="#">Remover</a>
      </div>
    </div>

    <div class="user__listItem">
      <h4 class="user__listName">Diego Fernandes</h4>
      <p class="user__listEmail">diego@rocketseat.com.br</p>
      <div class="user__listButtonBox">
        <a class="user__listButton" href="#">Editar</a>
        <a class="user__listButton" href="#">Remover</a>
      </div>
    </div>

    <div class="user__listItem">
      <h4 class="user__listName">Diego Fernandes</h4>
      <p class="user__listEmail">diego@rocketseat.com.br</p>
      <div class="user__listButtonBox">
        <a class="user__listButton" href="#">Editar</a>
        <a class="user__listButton" href="#">Remover</a>
      </div>
    </div>

    <div class="user__listItem">
      <h4 class="user__listName">Diego Fernandes</h4>
      <p class="user__listEmail">diego@rocketseat.com.br</p>
      <div class="user__listButtonBox">
        <a class="user__listButton" href="#">Editar</a>
        <a class="user__listButton" href="#">Remover</a>
      </div>
    </div>

    <div class="user__listItem">
      <h4 class="user__listName">Diego Fernandes</h4>
      <p class="user__listEmail">diego@rocketseat.com.br</p>
      <div class="user__listButtonBox">
        <a class="user__listButton" href="#">Editar</a>
        <a class="user__listButton" href="#">Remover</a>
      </div>
    </div>
  </section>
{% endblock %}