{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy - Criar usuário</title>
{% endblock %}

{% block header %}
  {% include "parts/navbar-admin.njk" %}
{% endblock %}

{% block content %}
  <div class="user-list-header">
    <h3>Usuários</h3>
    <div class="user-list-buttons">
      <a class="new-button" href="#">Novo</a>
    </div>
  </div>

  <div class="user-list-items">

    <div class="item">
      <h4>Diego Fernandes</h4>
      <p>diego@rocketseat.com.br</p>
      <div class="buttons-box">
        <a href="#">Editar</a>
        <a href="#">Remover</a>
      </div>
    </div>

    <div class="item">
      <h4>Diego Fernandes</h4>
      <p>diego@rocketseat.com.br</p>
      <div class="buttons-box">
        <a href="#">Editar</a>
        <a href="#">Remover</a>
      </div>
    </div>

    <div class="item">
      <h4>Diego Fernandes</h4>
      <p>diego@rocketseat.com.br</p>
      <div class="buttons-box">
        <a href="#">Editar</a>
        <a href="#">Remover</a>
      </div>
    </div>

    <div class="item">
      <h4>Diego Fernandes</h4>
      <p>diego@rocketseat.com.br</p>
      <div class="buttons-box">
        <a href="#">Editar</a>
        <a href="#">Remover</a>
      </div>
    </div>

    <div class="item">
      <h4>Diego Fernandes</h4>
      <p>diego@rocketseat.com.br</p>
      <div class="buttons-box">
        <a href="#">Editar</a>
        <a href="#">Remover</a>
      </div>
    </div>

    <div class="item">
      <h4>Diego Fernandes</h4>
      <p>diego@rocketseat.com.br</p>
      <div class="buttons-box">
        <a href="#">Editar</a>
        <a href="#">Remover</a>
      </div>
    </div>

  </div>
{% endblock %}