// Colors set:
$primary: #6558c3;
$primaryDark: #4a418c;
$neutral: #ffffff;
$gray: #999999;
$lightGray: #dddddd;
$lighterGray: #eeeeee;
$black: #111111;
$lightBlack: #000000;
$hero: #fbdfdb;

// Header Component
.header {
  padding: 24px 0;
  &--white {
    background-color: $neutral;
  }
  &--black {
    background-color: $black;
  }
  &__navbar {
    width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__items {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: 120px;
  }
  &__imageLink {
    margin: 0;
  }
  &__link {
    text-decoration: none;
    line-height: 18px;
    margin: 0 15px;
    transition: 300ms;
    &--hover:hover {
      font-weight: bold;
    }
    &--active {
      font-weight: bold;
    }
    &--black {
      color: $black;
    }
  }
}

// Footer Component
.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  &--color {
    background-color: $lighterGray;
  }
  &__item {
    font-size: 14px;
    &--color {
      color: $gray;
    }
  }
}

// Filter Component
.filter {
  display: flex;
  align-items: center;
  &__item {
    width: 250px;
    padding: 10px;
    border: 1px solid $lightGray;
    border-radius: 4px;
    font-size: 14px;
    color: $gray;
    margin-right: 8px;
    &::placeholder {
      color: $gray;
    }
  }
  &__button {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 4px;
    transition: 200ms;
    &--primary {
      background-color: $primary;
      color: $neutral;
    }
    &:hover {
      background-color: $primaryDark;
    }
  }
}

// Home Page

.hero {
  display: flex;
  // justify-content: space-between;
  border-radius: 30px;
  width: 100%;
  height: 330px;
  margin-bottom: 25px;
  &--backgroundColor {
    background-color: $hero;
  }
  &__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
  }
  &__title {
    font-weight: 700;
    margin-bottom: 10px;
    &--big {
      font-size: 32px;
    }
  }
  &__text {
    max-width: 320px;
    &--blackOpacity {
      color: $lightBlack;
      opacity: 0.7;
    }
    &--spacedBig {
      font-size: 18px;
      line-height: 28px;
    }
  }
  &__imageBox {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}
