$purple: #6558c3;
$darkPurple: #4a418c;
$neutral: #ffffff;
$darkerGray: #444444;
$darkGray: #777777;
$gray: #999999;
$lightGray: #dddddd;
$lighterGray: #eeeeee;
$black: #111111;
$lightBlack: #000000;
$salmon: #fbdfdb;
$warning: #dc4747;
$darkWarning: #9b3131;
