{% extends "layout.njk" %}

{% block header %}
		{% include "parts/navbar-admin.njk" %}
{% endblock %}

{% block content %}
		<form class="admin__chefForm" method="POST" action="/admin/chefs" enctype="multipart/form-data">
				<div class="admin__sectionBox">
						<h1 class="admin__sectionTitle admin__sectionTitle--color admin__sectionTitle--font">Criando chef</h1>
						<button class="admin__sectionButton admin__sectionButton--color admin__sectionButton--font" type="submit">Salvar chef</button>
				</div>

				{% include 'restricted/chefs/fields.njk' %}

		</form>
{% endblock content %}

{% block scripts %}
		<script src="/scripts/chefs.js"></script>
{% endblock scripts %}