{% extends "layout.njk" %}

{% block header %}
		{% include "parts/navbar-admin.njk" %}
{% endblock %}

{% block content %}
		<div class="all">
				<form class="admin__deleteForm" id="delete_form" method="POST" action="/admin/chefs?_method=DELETE">
						<input class="admin__hiddenInput" type="hidden" name="id" value="{{chef.id}}">
				</form>

				<form class="admin__chefForm" method="POST" action="/admin/chefs?_method=PUT" enctype="multipart/form-data">
						<div class="admin__sectionBox">
								<h1 class="admin__sectionTitle admin__sectionTitle--color admin__sectionTitle--font">Editando receita</h1>
								<div class="admin__sectionButtonBox">
										<input class="admin__hiddenInput" type="hidden" name="id" value="{{chef.id}}">
										<button class="admin__sectionButton admin__sectionButton--deleteColor admin__sectionButton--font" type="submit" form="delete_form" onclick="handleDeleteConfirmation()">Deletar</button>
										<button class="admin__sectionButton admin__sectionButton--color admin__sectionButton--font" type="submit">Salvar chef</button>
								</div>
						</div>
						{% include 'restricted/chefs/fields.njk' %}
				</form>
		</div>
{% endblock content %}

{% block scripts %}
		<script src="/scripts/chefs.js"></script>
{% endblock scripts %}