<div class="chefCreation">
		<div class="chefCreation__item">
				<div class="chefCreation__avatarBoxPreview">
						{% if files %}
								<div class="chefCreation__imageBoxPreview" id="{{files[0].id}}">
										<img class="chefCreation__imagePreview" src="{{files[0].src}}" alt="{{files[0].name}}">
										<i class="material-icons" onclick="AvatarUpload.removePhoto(event)">close</i>
								</div>
								<input class="chefCreation__removedInput" type="hidden" name="removed_files">
						{% endif %}
				</div>
		</div>

		<div class="chefCreation__item">
				<h3 class="chefCreation__sectionTitle chefCreation__sectionTitle--font chefCreation__sectionTitle--color">Nome</h3>
				<input class="chefCreation__input chefCreation__input--font chefCreation__input--color" type="text" name="name" value="{{ chef.name }}" placeholder="Digite o nome do chef"/>
		</div>

		<div class="chefCreation__item">
				<h3 class="chefCreation__sectionTitle chefCreation__sectionTitle--font chefCreation__sectionTitle--color">Avatar</h3>
				<div class="chefCreation__inputBox" id="input-avatar">
						{% if files %}
								<input class="chefCreation__input chefCreation__input--font chefCreation__input--color" value="{{files[0].src}}" disabled="disabled">
						{% endif %}
						<input class="chefCreation__avatarInput" id="avatar-input" type="file" name="chef_avatar" accept="image/*" multiple="multiple" onchange="AvatarUpload.handleAvatarInput(event)">
						<button class="chefCreation__avatarInputButton chefCreation__avatarInputButton--font chefCreation__avatarInputButton--color">Enviar avatar</button>
				</div>
		</div>
</div>