{% extends "layout.njk" %}

{% block head %}
		<title>Foodfy - Chefs</title>
{% endblock %}

{% block header %}
		{% include "parts/navbar-admin.njk" %}
{% endblock %}

{% block content %}
		<div class="admin__sectionBox">
				<h1 class="admin__sectionTitle admin__sectionTitle--color admin__sectionTitle--font">Gerenciar chefs</h1>
				<a class="admin__sectionButton admin__sectionButton--color admin__sectionButton--font admin__sectionButton--size" href="/admin/chefs/create">Cadastrar</a>
		</div>

		<section class="chefSection">
				{% for chef in chefs %}
						<div class="chefSection__item" id="{{chef.id}}">
								<div class="chefSection__imageBox">
										<img class="chefSection__image chefSection__image--shadow" src="{{chef.image}}" alt="{{chef.name}}">
								</div>
								<div class="chefSection__info">
										<h3 class="chefSection__chefName chefSection__chefName--font chefSection__chefName--color">{{chef.name}}</h3>
										<a class="cardSection-admin__link cardSection-admin__link--font cardSection-admin__link--color" href="/admin/chefs/{{chef.id}}">Vizualizar</a>
								</div>
						</div>
				{% endfor %}
		</section>
{% endblock %}

{% block footer %}
		{% include "parts/footer.njk" %}
{% endblock %}