{% extends "layout.njk" %}

{% block header %}
		{% include "parts/navbar-admin.njk" %}
{% endblock %}

{% block content %}
		<div class="recipe_details">
				<div class="recipe_options">
						<h1>Chef:
								{{chef.name}}</h1>
						<a class="crud_button" href="/admin/chefs/{{chef.id}}/edit">Editar chef</a>
				</div>
				<div class="chef-box-img">
						{% if not files[0] %}
								<img src="http://placehold.it/500x500?text=Chef sem foto" alt="Chef">
						{% else %}
								<img src="{{files[0].src}}" alt="{{files[0].name}}">
						{% endif %}
						<h1>{{chef.name}}</h1>
						<p>{{chef.total_recipes}}
								receitas</p>
				</div>

				<div class="recipe_options">
						<h1>Receitas</h1>
				</div>
				<div class="cards">
						{% for recipe in chefRecipes %}
								<div class="admin-card" id="{{recipe.id}}">
										<div class="admin-card-img">
												<img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
										</div>
										<div class="admin-card-info">
												<h3>{{recipe.title}}</h3>
												<p id="author_name">por{{chef.name}}</p>
												<a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
										</div>
								</div>
						{% endfor %}
				</div>

		</div>
{% endblock %}

{% block scripts %}
		<script src="/chefScripts.js"></script>
{% endblock scripts %}