/* Configurações universais */
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

/* Configurações do template (default); */

.all {
  min-height: 100%;
  position: relative;
}

.main {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px 80px;
}

/* Configurações do menu-admin */

.admin-navbar {
  background-color: black;
  padding: 24px 16px;
  display: flex;
  position: relative;
}

.admin-navbar .admin-links {
  width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-navbar .admin-navbar-items {
  display: flex;
  align-items: center;
}

.admin-navbar .admin-navbar-items #logo {
  /* padding: 0 12px; */
}

.admin-links a {
  text-decoration: none;
  font-size: 15px;
  margin: 0 15px;
  padding: 4px;
  border-radius: 6px;
  transition: 300ms;
  color: #999999;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.admin-links a.active {
  color: white;
  font-weight: bold;
}

.admin-links a:hover {
  color: white;
}

.admin-logout-button a {
  position: absolute;
  top: 24px;
  right: 48px;
  text-decoration: none;
  text-transform: uppercase;
  color: #999999;
  font-weight: bold;
  transition: 300ms;
}

.admin-logout-button a:hover {
  color: white;
}
