/* Página de exibição de chef */
.recipe_details .chef-box-img {
  text-align: center;
}

.recipe_details .chef-box-img img {
  padding-right: 0;
  width: 200px;
  height: 200px;
  margin: 50px 0 30px;
  object-fit: cover;
  border-radius: 50%;
}

.recipe_details .chef-box-img p {
  font-size: 20px;
  color: #777777;
  text-align: center;
  margin-top: 4px;
}
