/* Configurações universais */
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

/* Configurações do template (default); */

.all {
  min-height: 100%;
  position: relative;
}

.main {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px 80px;
}

/* Apagar configurações acima!!! */
/* Configurações específicas da página */

.login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login form {
  width: 500px;
}

.login .logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

.login .logo-box #logo {
  padding-top: 35px;
  margin: 0;
}

.login .header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login .header h3 {
  font-size: 24px;
}

.login .item label {
  font-weight: bold;
}

.login .item {
  margin-top: 24px;
}

.login .item input {
  padding: 14px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin: 16px 0 0;
  color: #555555;
  font-size: 16px;
  box-sizing: border-box;
}

.login .button-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;
}

.login .button-box a {
  font-size: 16px;
  font-weight: bold;
  color: #969696;
  text-decoration: none;
}

.login .button-box a:hover {
  text-decoration: underline;
}

.login .button-box button {
  font-size: 16px;
  font-weight: bold;
  background-color: #6558c3;
  border-radius: 4px;
  padding: 8px 36px;
  color: white;
  cursor: pointer;
  transition: 300ms;
}

.login .button-box button:hover {
  background-color: rgb(64, 57, 119);
}
