/* Configurações universais */
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

/* Configurações do template (default); */

.all {
  min-height: 100%;
  position: relative;
}

.main {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px 80px;
}

/* Apagar configurações acima!!! */
/* Configurações específicas da página */

.password-reset {
  display: flex;
  align-items: center;
  justify-content: center;
}

.password-reset form {
  width: 500px;
}

.password-reset .logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

.password-reset .logo-box #logo {
  padding: 36px 36px 0;
  margin: 0;
}

.password-reset .header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 36px;
}

.password-reset .header h3 {
  font-size: 24px;
}

.password-reset .item label {
  font-weight: bold;
}

.password-reset .item {
  margin-top: 24px;
}

.password-reset .item input {
  padding: 14px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin-top: 10px;
  color: #555555;
  font-size: 16px;
  box-sizing: border-box;
}

.password-reset .button-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 35px;
}

.password-reset .button-box button {
  font-size: 16px;
  font-weight: bold;
  background-color: #6558c3;
  border-radius: 4px;
  padding: 8px 24px;
  color: white;
  cursor: pointer;
  transition: 300ms;
}

.password-reset .button-box button:hover {
  background-color: rgb(64, 57, 119);
}
