/* Configurações universais */
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
}

/* Configurações do template (default); */

.all {
  min-height: 100%;
  position: relative;
}

.main {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px 80px;
}

/* Apagar configurações acima!!! */

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 32px 0;
}

.profile-header h3 {
  font-size: 24px;
}

.profile-header a {
  text-decoration: none;
  background-color: #7159c1;
  padding: 9px 48px;
  border-radius: 4px;
  color: white;
  transition: 300ms;
}

.profile-header a:hover {
  background-color: rgb(64, 57, 119);
}

.profile-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}

.profile-items .item {
  margin-top: 24px;
}

.profile-items .item label {
  font-weight: bold;
}

.profile-items .item input {
  padding: 14px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin-top: 10px;
  color: #111111;
  box-sizing: border-box;
  font-size: 16px;
  width: 100%;
}
