{% extends "layout.njk" %}

{% block head %}
  <title>Foodfy - Chefs</title>
{% endblock %}

{% block header %}
  {% include "parts/admin-navbar.njk" %}
{% endblock %}

{% block content %}{% endblock %}