{% extends "layout.njk" %}

{% block header %}
		{% include "parts/admin-navbar.njk" %}
{% endblock %}

{% block content %}
		<div class="all">
				<form method="POST" action="/admin/receitas" enctype="multipart/form-data">
						<div class="recipe_options">
								<h1>Criando receita</h1>
								<button type="submit" class="crud_button">Salvar receita</button>
						</div>

						{% include 'admin/recipes/fields.njk' %}

				</form>
		</div>
{% endblock content %}

{% block scripts %}
		<script src="/recipeScripts.js"></script>
{% endblock scripts %}