{% extends "layout.njk" %}

{% block content %}
    <div class="all">

        <form id="delete_form" method="POST" action="/admin/receitas?_method=DELETE">
            <input type="hidden" name="id" value="{{recipe.id}}">
            <button id="delete_button" class="crud_button" type="submit">Deletar</button>
        </form>

        <form method="POST" action="/admin/receitas?_method=PUT">
            <div class="recipe_options">
                <h1>Editando receita</h1>
                <div class="options_buttons">
                    <input type="hidden" name="id" value="{{recipe.id}}">
                    <button class="crud_button" type="submit">Salvar receita</button>
                </div>
            </div>
            {% include 'admin/recipes/fields.njk' %}
        </form>
    </div>
    <script src="../public/scripts.js"></script>
{% endblock content %}