{% extends "layout.njk" %}

{% block header %}
		{% include "parts/navbar-admin.njk" %}
{% endblock %}

{% block content %}
		<form class="admin__recipeForm" method="POST" action="/admin/recipes" enctype="multipart/form-data">
				<div class="admin__sectionBox">
						<h1 class="admin__sectionTitle admin__sectionTitle--color admin__sectionTitle--font">Criando receita</h1>
						<button class="admin__sectionButton admin__sectionButton--color admin__sectionButton--font" type="submit">Salvar receita</button>
				</div>
				{% include 'restricted/recipes/fields.njk' %}
		</form>
{% endblock content %}

{% block scripts %}
		<script src="/scripts/recipes.js"></script>
{% endblock scripts %}