{% extends "layout.njk" %}

{% block head %}
		<title>Foodfy - Receitas</title>
{% endblock %}

{% block header %}
		{% include "parts/navbar-admin.njk" %}
{% endblock %}

{% block content %}
		<div class="admin__sectionBox">
				<h1 class="admin__sectionTitle admin__sectionTitle--color admin__sectionTitle--font">Gerenciar receitas</h1>
				<a class="admin__sectionButton admin__sectionButton--color admin__sectionButton--font" href="/admin/recipes/create">Nova receita</a>
		</div>

		<section class="cardSection-admin">
				{% for recipe in recipes %}
						<div class="cardSection-admin__item" id="{{recipe.id}}">
								<div class="cardSection-admin__imageBox">
										<img class="cardSection-admin__image" src="{{recipe.image}}" alt="{{recipe.title}}">
								</div>
								<div class="cardSection-admin__info">
										<h3 class="cardSection-admin__recipeTitle cardSection-admin__recipeTitle--font cardSection-admin__recipeTitle--color">{{recipe.title}}</h3>
										<p class="cardSection-admin__authorName cardSection-admin__authorName--font cardSection-admin__authorName--color">{{recipe.chef_name}}</p>
										<a class="cardSection-admin__link cardSection-admin__link--font cardSection-admin__link--color" href="/admin/recipes/{{recipe.id}}">Visualizar</a>
								</div>
						</div>
				{% endfor %}
		</section>
{% endblock %}