{% extends "layout.njk" %}

{% block header %}
		{% include "parts/navbar-admin.njk" %}
{% endblock %}

{% block content %}
		<div class="recipe_details">
				<div class="admin__sectionBox">
						<h1 class="admin__sectionTitle admin__sectionTitle--color admin__sectionTitle--font">Receita:
								{{recipe.title}}</h1>
						<a class="admin__sectionButton admin__sectionButton--color admin__sectionButton--font" href="/admin/recipes/{{recipe.id}}/edit">Editar receita</a>
				</div>

				<div class="recipe">
						{% include "parts/recipe-details.njk"%}
				</div>
		</div>
{% endblock %}

{% block footer %}
		{% include "parts/footer.njk" %}
{% endblock %}

{% block scripts %}
		<script src="/scripts/recipes.js"></script>
{% endblock scripts %}