<!DOCTYPE html>
<html lang="pt-br">
		<head>
				<meta charset="UTF-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
				<link rel="shortcut icon" href="https://www.flaticon.com/br/premium-icon/icons/svg/2994/2994533.svg" type="image/x-icon">

				<link rel="stylesheet" href="/styles/admin-navbar.css">
				
				<link rel="stylesheet" href="/styles/profile.css">
				<link rel="stylesheet" href="/styles/create-user.css">
				<link rel="stylesheet" href="/styles/user-list.css">
				<link rel="stylesheet" href="/styles/index.css">
				{# New css styles #}
				<link rel="stylesheet" href="/styles/css/index.css">
				<link rel="stylesheet" href="/styles/css/parts.css">
				<link rel="stylesheet" href="/styles/css/pages/home.css">
				<link rel="stylesheet" href="/styles/css/pages/about.css">
				<link rel="stylesheet" href="/styles/css/pages/chefs.css">
				<link rel="stylesheet" href="/styles/css/pages/session.css">
				
				{% block head %}
						<title>Foodfy - Vamos cozinhar!</title>
				{% endblock %}
		</head>

		<body>
				<div class="content">
						{% block header %}{% endblock %}
						<div class="main">
								{% block content %}{% endblock %}
						</div>
						{% include "parts/footer.njk" %}
				</div>
				{% block scripts %}{% endblock scripts %}
				<script src="/scripts/foodfy.js"></script>
		</body>

</html>