<header class="menu_admin">
  <div class="links_admin">
    <div class="menu_items">
      <div class="logo">
        <a id="link_logo" href="/admin/receitas"><img id="logo" src="/assets/logo.png" alt="logo"></a>
      </div>
      <a href="/admin/receitas">Receitas</a>
      <a href="/admin/chefs">Chefs</a>
    </div>
  </div>
</header>