<form class="filter" action="/" method="GET">
  <input class="filter__item filter__item--font" type="text" name="filter" placeholder="Buscar uma receita">
  <button class="filter__button filter__button--font filter__button--color" type="submit">Buscar</button>
</form>