<form class="filter" action="/" method="GET">
  <input class="filter__item" type="text" name="filter" placeholder="Buscar uma receita">
  <button class="filter__button filter__button--primary" type="submit">Buscar</button>
</form>