<div class="menu_items">
  <div class="logo">
    <a id="link_logo" href="/"><img id="logo" src="/assets/logo2.png" alt="logo"></a>
  </div>
  {% block links %}
    <a href="/about">Sobre</a>
    <a href="/recipes">Receitas</a>
    <a href="/chefs">Chefs</a>
  {% endblock %}
</div>