<div class="card" id="{{recipe.id}}">
  <div class="card_image">
    <img src="{{recipe.image}}" alt="{{recipe.title}}">
  </div>
  <div class="card_info">
    <h3>{{recipe.title}}</h3>
    {% if recipe.chef_name %}
      <p id="author_name">Por
        {{recipe.chef_name}}</p>
    {% else %}
      <p id="author_name">Por
        {{chef.name}}</p>
    {% endif %}
  </div>
</div>