<div class="cardSection__item" id="{{recipe.id}}">
  <div class="cardSection__imageBox">
    <img class="cardSection__image" src="{{recipe.image}}" alt="{{recipe.title}}">
  </div>
  <div class="cardSection__info">
    <h3 class="cardSection__title cardSection__title--font">{{recipe.title}}</h3>
    {% if recipe.chef_name %}
      <p class="cardSection__author cardSection__author--font cardSection__author--color">Por
        {{recipe.chef_name}}</p>
    {% else %}
      <p class="cardSection__author">Por
        {{chef.name}}</p>
    {% endif %}
  </div>
</div>