<div class="header__items">
  <div class="header__logo">
    <a class="header__imageLink" href="/">
      <img class="header__image" src="/assets/logo2.png" alt="foodfy logo">
    </a>
  </div>
  <a class="header__link header__link--hover header__link--black" href="/about">Sobre</a>
  <a class="header__link header__link--hover header__link--black" href="/recipes">Receitas</a>
  <a class="header__link header__link--hover header__link--black" href="/chefs">Chefs</a>
  <a class="header__link header__link--hover header__link--black" href="/login">Login</a>
</div>