<header class="header header--adminColor">
  <div class="header__navbar">

    <div class="header__items header__adminItems">
      <div class="header__logo">
        <a class="header__imageLink" href="/admin/recipes">
          <img id="header__image" src="/assets/logo.png" alt="foodfy-logo">
        </a>
      </div>
      <a class="header__link header__link--adminColor header__link--adminFont" href="/admin/recipes">Receitas</a>
      <a class="header__link header__link--adminColor header__link--adminFont" href="/admin/chefs">Chefs</a>
      <a class="header__link header__link--adminColor header__link--adminFont" href="/admin/profile">Usuários</a>
    </div>

  </div>
  <div class="header__logoutButton">
    <a class="header__link header__link--color header__link--font header__link--logout" href="#">Sair</a>
  </div>
</header>