<header class="admin-navbar">
  <div class="admin-links">
    <div class="admin-navbar-items">
      <div class="logo">
        <a id="link_logo" href="/admin/recipes"><img id="logo" src="/assets/logo.png" alt="foodfy-logo"></a>
      </div>
      <a href="/admin/recipes">Receitas</a>
      <a href="/admin/chefs">Chefs</a>
      <a href="/admin/profile">Usuários</a>
    </div>
  </div>
  <div class="admin-logout-button">
    <a href="#">Sair</a>
  </div>
</header>