<div class="cardSection__item" id="{{recipe.id}}">
  <div class="cardSection__imageBox">
    <img class="cardSection__image" src="{{recipe.image}}" alt="{{recipe.title}}">
  </div>
  <div class="cardSection__info">
    <h3 class="cardSection__recipeTitle cardSection__recipeTitle--font">{{recipe.title}}</h3>
    {% if recipe.chef_name %}
      <p class="cardSection__chefName cardSection__chefName--font cardSection__chefName--color">Por
        {{recipe.chef_name}}</p>
    {% else %}
      <p class="cardSection__chefName">Por
        {{chef.name}}</p>
    {% endif %}
  </div>
</div>